@import url("https://fonts.googleapis.com/css?family=Nunito|Oswald");
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 90px;
  background: rgba(66, 69, 75, 0.5);
  overflow: hidden;
  transition: ease-in-out 300ms;
  z-index: 4; }
  .menu.open {
    width: 180px; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 30px;
  top: 30px;
  cursor: pointer;
  transition: ease-in-out 300ms; }
  .menu-btn:hover .btn-line {
    background: #21acb9; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 4px 0;
    background: #fff;
    border-radius: 2px;
    transition: ease-in-out 300ms; }
  .menu-btn.close {
    transform: rotate(180deg);
    transition: ease-in-out 300ms; }
    .menu-btn.close .btn-line {
      height: 5px; }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px); }

.nav-list {
  position: absolute;
  right: 30px;
  top: 70px;
  text-align: right;
  z-index: 3; }

.nav-item {
  color: #fff;
  font-weight: 800;
  line-height: 3.5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  visibility: visible;
  transform: translate3d(300px, 0, 0);
  transition: ease-in-out 300ms; }
  .nav-item.open {
    visibility: visible;
    transform: translate3d(0, 0, 0); }
  .nav-item.active {
    color: #21acb9; }
  .nav-item:after {
    content: '';
    height: 3px;
    width: 0%;
    position: absolute;
    right: 0;
    bottom: 10px;
    background: #fff;
    transition: ease-in-out 300ms; }
  .nav-item:hover:after {
    width: 110%; }

.nav-item:nth-of-type(1) {
  transition-delay: 30ms; }

.nav-item:nth-of-type(2) {
  transition-delay: 60ms; }

.nav-item:nth-of-type(3) {
  transition-delay: 90ms; }

.nav-item:nth-of-type(4) {
  transition-delay: 120ms; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #2a2c30;
  opacity: 0;
  z-index: 4;
  visibility: hidden;
  transition: ease-in-out 300ms; }
  .overlay.show {
    visibility: visible;
    opacity: 0.75; }

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; }
  .popup-container.show {
    visibility: visible; }

.project-details {
  transform: translate3d(0, 1000px, 0);
  transition: ease-in-out 300ms;
  z-index: 5;
  min-height: 600px;
  width: 800px;
  border: #fff solid 3px;
  border-radius: 6px;
  background: #2a2c30;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-flow: column nowrap; }
  .project-details.show {
    transform: translate3d(0, 0, 0); }
  .project-details .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 28px;
    width: 28px;
    transition: ease-in-out 300ms; }
    .project-details .close-btn:hover .line {
      background: #21acb9; }
    .project-details .close-btn:hover {
      transform: rotate(90deg); }
    .project-details .close-btn .line {
      position: absolute;
      top: 43%;
      height: 5px;
      width: 100%;
      background: #fff;
      border-radius: 2px;
      transition: ease-in-out 300ms; }
      .project-details .close-btn .line.one {
        transform: rotate(45deg); }
      .project-details .close-btn .line.two {
        transform: rotate(-45deg); }
  .project-details .project-title {
    text-align: center;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase; }
  .project-details .project-desc {
    text-align: justify; }
  .project-details .img-wrapper-med {
    width: 480px;
    margin: auto; }
  .project-details .url-icons-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1rem; }
    .project-details .url-icons-wrapper a {
      z-index: 5; }
      .project-details .url-icons-wrapper a .icon {
        margin: 0 0.5rem;
        cursor: pointer;
        transition: ease-in-out 300ms; }
        .project-details .url-icons-wrapper a .icon:hover {
          color: #21acb9; }
  .project-details .tech-list {
    text-align: center;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin: 0;
    font-size: 1rem; }
  .project-details .tech-list-icons {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: 0;
    font-size: 4rem;
    opacity: 0.2; }
    .project-details .tech-list-icons .icon {
      margin: 0 0.5rem; }

* {
  box-sizing: border-box; }

html, body, #root {
  height: 100%; }

.App {
  min-height: 100%;
  position: relative; }

.bg-image {
  background: url("./images/japan-bg.jpeg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background-size: cover; }

a {
  color: #fff;
  text-decoration: none; }

body {
  color: #fff;
  background: #2a2c30;
  font-family: "Nunito", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1.5; }

h1, h2, h3 {
  margin: 0; }
  h1.lrg-heading, h2.lrg-heading, h3.lrg-heading {
    font-size: 6rem;
    line-height: 5rem; }
  h1.med-heading, h2.med-heading, h3.med-heading {
    font-size: 2rem; }

.text-highlight {
  color: #21acb9; }

.content-container {
  height: 100%;
  padding: 8rem; }

.home .lrg-heading {
  margin-top: 20vh; }

.home .icon {
  margin: 0.5rem;
  transition: ease-in-out 300ms;
  cursor: pointer; }
  .home .icon:hover {
    color: #21acb9; }

.project-showcase {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 2vw; }
  .project-showcase .project-tile {
    position: relative;
    width: 300px;
    text-align: center;
    padding: 1rem 1rem;
    margin: 0.5rem;
    background: rgba(42, 44, 48, 0.7);
    border: rgba(255, 255, 255, 0.5) solid 2px;
    border-radius: 2px;
    cursor: pointer;
    transition: ease-in-out 300ms; }
    .project-showcase .project-tile .project-tile-title {
      font-size: 1.3rem;
      margin-top: 6px;
      margin-bottom: -10px;
      color: #d9d9d9;
      font-family: "Oswald", sans-serif;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      transition: ease-in-out 300ms; }
    .project-showcase .project-tile:hover {
      background: rgba(54, 56, 62, 0.7);
      border-color: rgba(255, 255, 255, 0.8); }
      .project-showcase .project-tile:hover .project-tile-title {
        color: #fff; }
      .project-showcase .project-tile:hover .img-overlay {
        opacity: 0; }
    .project-showcase .project-tile .project-img-div {
      width: 240px;
      height: 150px;
      background: #fff;
      position: relative; }
    .project-showcase .project-tile .img-container {
      width: 240px;
      height: 150px;
      position: relative;
      margin: auto; }
    .project-showcase .project-tile .project-img {
      width: 100%;
      height: auto; }
    .project-showcase .project-tile .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 240px;
      height: 150px;
      background: #2a2c30;
      z-index: 2;
      opacity: 0.4;
      transition: ease-in-out 300ms; }
  .project-showcase .project-tile-2 {
    position: relative;
    width: 400px;
    height: auto;
    overflow: hidden;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem; }
    .project-showcase .project-tile-2 .project-img-2 {
      width: 100%;
      transition: ease-in-out 300ms; }
    .project-showcase .project-tile-2 .tile-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(42, 44, 48, 0);
      transition: ease-in-out 300ms; }
    .project-showcase .project-tile-2 .project-tile-title-2 {
      position: absolute;
      margin: 0;
      top: 42%;
      text-align: center;
      z-index: 3;
      font-size: 2rem;
      font-weight: 600;
      transform: translateY(400px);
      font-family: "Oswald", sans-serif;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      transition: ease-in-out 300ms; }
  .project-showcase :hover .project-img-2 {
    transform: scale(1.1); }
  .project-showcase :hover .tile-overlay {
    background: rgba(42, 44, 48, 0.7); }
  .project-showcase :hover .project-tile-title-2 {
    transform: translateY(0); }

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 75%; }
  .footer .icon {
    margin: 0.5rem; }

@media screen and (max-width: 768px) {
  .App .bg-image {
    background-position-x: -80px; }
  .content-container {
    padding: 4rem 2rem 2.5rem 2rem; }
  .menu {
    width: 0px;
    background: rgba(66, 69, 75, 0.9); }
    .menu .menu-btn {
      position: fixed; }
    .menu .nav-item:after {
      display: none; }
  .home .lrg-heading {
    margin-top: 10vh; }
  .project-showcase {
    justify-content: center; }
    .project-showcase .project-tile {
      border: solid 1px rgba(255, 255, 255, 0.8); }
      .project-showcase .project-tile .img-overlay {
        visibility: hidden; }
      .project-showcase .project-tile .project-tile-title {
        color: #fff; }
    .project-showcase .project-tile-2 {
      height: auto;
      margin: 1rem 0;
      width: 100%;
      max-width: 500px; }
      .project-showcase .project-tile-2 .tile-overlay {
        display: none; }
      .project-showcase .project-tile-2 .project-tile-title-2 {
        font-size: 1.3rem;
        top: 40%;
        transform: translateY(0);
        background: #2a2c30;
        padding: 0.5rem 1rem;
        box-shadow: 3px 3px 6px rgba(42, 44, 48, 0.8); }
  h1, h2, h3 {
    margin: 0; }
    h1.lrg-heading, h2.lrg-heading, h3.lrg-heading {
      font-size: 4rem;
      line-height: 3rem; }
    h1.med-heading, h2.med-heading, h3.med-heading {
      font-size: 1.5rem; }
  .about .lrg-heading {
    margin-bottom: 1rem; }
  .project-details {
    margin: 0 1rem 0 1rem;
    padding: 1rem 2rem;
    min-height: 50vh;
    max-height: 90vh;
    overflow: scroll; }
    .project-details .tech-list {
      margin-bottom: 0.3rem; }
    .project-details .img-wrapper-med {
      width: 280px;
      height: auto;
      margin-top: 2rem; }
      .project-details .img-wrapper-med .project-img-med {
        width: 100%;
        height: auto; }
    .project-details .tech-list-icons {
      font-size: 2rem;
      bottom: 80px; }
  p {
    font-size: 80%;
    margin: 0; }
  .menu .menu-btn {
    background: rgba(42, 44, 48, 0.5);
    z-index: 2;
    border-radius: 6px; }
    .menu .menu-btn.close {
      background: rgba(42, 44, 48, 0); }
    .menu .menu-btn .btn-line {
      z-index: 3; } }
