@import url("https://fonts.googleapis.com/css?family=Nunito");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 30px;
  top: 30px;
  cursor: pointer;
  transition: ease-in-out 300ms; }
  .menu-btn:hover .btn-line {
    background: #21acb9; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 4px 0;
    background: #fff;
    border-radius: 2px;
    transition: ease-in-out 300ms; }
  .menu-btn.close {
    transform: rotate(180deg);
    transition: ease-in-out 300ms; }
    .menu-btn.close .btn-line {
      height: 5px; }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px); }

.nav-list {
  position: absolute;
  right: 30px;
  top: 70px;
  text-align: right; }

.nav-item {
  color: #fff;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  visibility: visible;
  transform: translate3d(300px, 0, 0);
  transition: ease-in-out 300ms; }
  .nav-item:hover {
    color: #21acb9; }
  .nav-item.open {
    visibility: visible;
    transform: translate3d(0, 0, 0); }

.nav-item:nth-child(1) {
  transition-delay: 20ms; }

.nav-item:nth-child(2) {
  transition-delay: 40ms; }

.nav-item:nth-child(3) {
  transition-delay: 60ms; }

.nav-item:nth-child(4) {
  transition-delay: 80ms; }

.nav-item:nth-child(5) {
  transition-delay: 100ms; }

.nav-item:nth-child(6) {
  transition-delay: 120ms; }

.nav-item:nth-child(7) {
  transition-delay: 140ms; }

* {
  box-sizing: border-box; }

body {
  color: #fff;
  background: #2c2c2c;
  font-family: "Nunito", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1.5; }

h1, h2, h3 {
  margin: 0; }
  h1.lrg-heading, h2.lrg-heading, h3.lrg-heading {
    font-size: 6rem;
    line-height: 4rem; }
  h1.med-heading, h2.med-heading, h3.med-heading {
    font-size: 2rem; }

.text-highlight {
  color: #21acb9; }

.content-container {
  height: 100%;
  padding: 4rem; }

.home {
  margin-top: 30vh; }
  .home .icon {
    margin: 0.5rem;
    transition: ease-in-out 300ms; }
    .home .icon:hover {
      color: #21acb9; }
