.menu-btn {
  position: absolute;
  z-index: 3;
  right: 30px;
  top: 30px;
  cursor: pointer;
  @include easeInOut;

  &:hover .btn-line {
    background: $secondary-colour;
  }

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 4px 0;
    background: $primary-colour;
    border-radius: 2px;
    @include easeInOut;
  }

  &.close {
    transform: rotate(180deg);
    @include easeInOut;

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px);;
      }
    }
  }
}

.nav-list {
  position: absolute;
  right: 30px;
  top: 70px;
  text-align: right;
}

.nav-item {
  color: $primary-colour;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  visibility: visible;
  transform: translate3d(300px, 0, 0);
  @include easeInOut;

  &:hover {
    color: $secondary-colour;
  }

  &.open {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

}

@for $i from 1 through 7 {
  .nav-item:nth-child(#{$i}) {
    transition-delay: $i * 20ms;
  }
}