.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $background-colour;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    @include easeInOut;
  
    &.show {
      visibility: visible;
      opacity: 0.75;
    }
  }
  
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  
    &.show {
      visibility: visible;
    }
  }
  
  .project-details {
    transform: translate3d(0, 1000px, 0);
    @include easeInOut;
    z-index: 3;
    height: 600px;
    width: 800px;
    border: $primary-colour solid 3px;
    background: $background-colour;
    padding: 2rem;
  
    &.show {
      transform: translate3d(0, 0, 0);
    }
  
    .close-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      height: 28px;
      width: 28px;
      @include easeInOut;
  
      &:hover .line {
        background: $secondary-colour;
      }
  
      .line {
        position: absolute;
        top: 45%;
        height: 5px;
        width: 100%;
        background: $primary-colour;
        border-radius: 2px;
        @include easeInOut;
        margin: -1px;
  
        &.one {
          transform: rotate(45deg);
        }
  
        &.two {
          transform: rotate(-45deg);
        }
      }
    }

    .project-title {
      text-align: center;
    }
  }