@include mediaSml {
  .App {
    .bg-image {
      background-position-x: -80px;
    }
  }

  .content-container {
      padding: 4rem 2rem 2.5rem 2rem;
  }

  .menu {
    width: 0px;
    background: rgba(lighten($background-colour, 10), 0.9);

    .menu-btn {
      position: fixed;
    }

    .nav-item:after{
      display: none;
    }
  }

  .home {
    .lrg-heading {
      margin-top: 10vh;
    }
  }

  

  .project-showcase {

    justify-content: center;
    .project-tile {
      border: solid 1px rgba($primary-colour, 0.8);
      .img-overlay {
        visibility: hidden;
      }
      .project-tile-title {
        color: $primary-colour;
      }
    }

    .project-tile-2 {
      height: auto;
      margin: 1rem 0;
      width: 100%;
      max-width: 500px;

      .tile-overlay {
        display: none;
      }
  
      .project-tile-title-2 {
        font-size: 1.3rem;
        top: 40%;
        transform: translateY(0);
        background: $background-colour;
        padding: 0.5rem 1rem;
        box-shadow: 3px 3px 6px rgba($background-colour, 0.8);
      }
    }
  }

  h1, h2, h3 {
    margin: 0;
    
    &.lrg-heading {
      font-size: 4rem;
      line-height: 3rem;
    }
    
    &.med-heading {
      font-size: 1.5rem;
    }
  }

  .about .lrg-heading {
    margin-bottom: 1rem;
  }

  .project-details {
    margin: 0 1rem 0 1rem;
    padding: 1rem 2rem;
    min-height: 50vh;
    max-height: 90vh;
    max-width: 600px;
    overflow: scroll;

    .tech-list {
      margin-bottom: 0.3rem;
    }

    .img-wrapper-med {
      width: 280px;
      height: auto;
      margin-top: 2rem;

      .project-img-med {
        width: 100%;
        height: auto;
      }
    }

    .tech-list-icons {
      font-size: 2rem;
      bottom: 80px;
    }
  }

  p {
    font-size: 80%;
    margin: 0;
  }

  .menu .menu-btn {
    background: rgba($background-colour, 0.5);
    z-index: 2;
    border-radius: 6px;

    &.close {
      background: rgba($background-colour, 0);
    }

    .btn-line {
      z-index: 3;
    }
  }
}