@include mediaSml {
  .content-container {
      padding: 4rem 2rem 2.5rem 2rem;
  }
  
  .footer {
    font-size: 75%;
  }

  .menu {
    width: 0px;
    background: rgba(lighten($background-colour, 10), 0.9);

    .menu-btn {
      position: fixed;
    }
  }

  .home {
    .lrg-heading {
      margin-top: 10vh;
    }
  }

  .project-details {
    margin: 0 1rem 0 1rem;
    max-height: 85vh;
  }

  .img-overlay {
    visibility: hidden;
  }

  h1, h2, h3 {
    margin: 0;
    
    &.lrg-heading {
      font-size: 4rem;
      line-height: 3rem;
    }
    
    &.med-heading {
      font-size: 1.5rem;
    }
  }

  .about .lrg-heading {
    margin-bottom: 1rem;
  }

  .project-details {
    overflow: scroll;

    .img-wrapper-med {
      width: 280px;
      height: auto;
      margin-top: 2rem;

      .project-img-med {
        width: 100%;
        height: auto;
      }
    }

    .tech-list {
      font-size: 2rem;
      bottom: 30px;
    }
  }

  p {
    font-size: 80%;
    margin: 0;
  }

  .menu .menu-btn {
    background: rgba($background-colour, 0.5);
    z-index: 2;
    border-radius: 6px;

    &.close {
      background: rgba($background-colour, 0);
    }

    .btn-line {
      z-index: 3;
    }
  }
}