@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  color: $primary-colour;
  background: $background-colour;
  font-family: $main-font;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

h1, h2, h3 {
  margin: 0;

  &.lrg-heading {
    font-size: 6rem;
  }

}

.text-highlight {
  color: $secondary-colour;
}

.content-container {
  height: 100%;
  padding: 4rem;
}

.home {
  margin-top: 30vh;

  .icon {
    margin: 0.5rem;
    @include easeInOut;

    &:hover {
      color: $secondary-colour;
    }
  }
}