@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  color: $primary-colour;
  background: $background-colour;
  font-family: $main-font;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

h1, h2, h3 {
  margin: 0;

  &.lrg-heading {
    font-size: 6rem;
    line-height: 4rem;
  }

  &.med-heading {
    font-size: 2rem;
  }

}

.text-highlight {
  color: $secondary-colour;
}

.content-container {
  height: 100%;
  padding: 8rem;
}

.home {
  margin-top: 30vh;

  .icon {
    margin: 0.5rem;
    @include easeInOut;

    &:hover {
      color: $secondary-colour;
    }
  }
}

.project-showcase {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;

  .project-tile {
    width: 280px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border: $primary-colour solid 3px;
    cursor: pointer;

    &:hover {
      background: lighten($background-colour, 15);
    }

    .project-img {
      width:  240px;
      height: 150px;
      background: #fff;
      margin: 1rem auto;
    }
  }

}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: $background-colour;
  opacity: 0.8;
  z-index: 1;
  visibility: hidden;
  @include easeInOut;

  &.show {
    visibility: visible;
  }
}